extends layout 

block content
    h1 #{title} of #{bookInstance.imprint}

     p do you really want to delete this book instance?

     form(method="post")
        div.form-group 
            input#bookInstanceId.form-control(type="hidden", name="bookInstanceId", value=bookInstance._id)
            button.btn.btn-primary(type="submit") delete

